<!DOCTYPE html>
<html ng-app="MyModule" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AngularJS</title>
    <script src="./scripts/angular.js"></script>
    <script src="./scripts/script.js"></script>
    <link rel="stylesheet" href="./styles.css">
</head>
<body ng-controller="myController" >
   <!-- <table>
       <thead>
           <tr>
               <th>Name</th>
               <th>Likes</th>
               <th>Dislikes</th>
               <th>Action</th>
           </tr>
       </thead>
       <tr ng-repeat = "tech in technologies">
           <td>{{tech.name}}</td>
           <td>{{tech.likes}}</td>
           <td>{{tech.dislikes}}</td>
           <td><button class="like" ng-click="incrementLikes(tech)">Like</button>
            <button class="dislike" ng-click="incrementDislikes(tech)">Dislike</button>
        </td>
       </tr>
   </table> -->
<!-- <input type="number" step="1" min="0" max="5" ng-model="rowLimit" name="" id=""> -->
<!-- 
Sort By :
<br>
  <select name="sortCol" ng-model="sortCol" id="">
    <option value="name"> Name ASC</option>
    <option value="dateOfBirth"> Date Of Birth ASC</option>
    <option value="salary"> Salary ASC</option>
    <option value="-salary"> Salary DESC</option>
</select> 
   <br/> -->
   <table>
    <thead>
        <tr>
            <th ng-click="sortData('name')">
                Name <div ng-class="getSortClass('name')"></div>
            </th>
            <th ng-click="sortData('dateOfBirth')">
                Date Of Birth <div ng-class="getSortClass('dateOfBirth')"></div>
            </th>
            <th ng-click="sortData('gender')">
                Gender <div ng-class="getSortClass('gender')"></div>
            </th>
            <th ng-click="sortData('salary')">
                Salary(number filter) <div ng-class="getSortClass('salary')"></div>
            </th>
            <th ng-click="sortData('salary')">
                Salary (currency filter) <div ng-class="getSortClass('salary')"></div>
            </th>
           
        </tr>
    </thead>
    <tr ng-repeat = "emp in employees | orderBy : sortCol : reverseSort ">
        <td>{{emp.name | uppercase}}</td>
        <td>{{emp.dateOfBirth | date:"dd/MM/yyyy"}}</td>
        <td>{{emp.gender | lowercase}}</td>
        <td>{{emp.salary | number:2}}</td>
        <td>{{emp.salary | currency :'₹':1}}</td>
        
    </tr>
</table>


</body>
</html>